<mat-toolbar>
    <span>Favourite movies</span>
    <span class="spacer"></span>
    <mat-form-field>
        <input matInput #searchInput (keyup)="searchKeyUp(searchInput.value)" placeholder="Search">
    </mat-form-field>
</mat-toolbar>
<mat-card *ngFor="let movie of movies">
    <mat-card-header>
        <div *ngIf="movie.Poster" mat-card-avatar
             [ngStyle]="{'background-image': 'url(' + movie.Poster +')', 'background-size': 'cover'}"></div>
        <mat-card-title>{{movie.Title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Movie from {{movie.Year}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="saveFavourite(movie)">
            <mat-icon>star</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>

